<div class="dropdown-container">
  <button class="dropdown-button" (click)="toggleDropdown()">
    {{ selectedCategory || 'all' }}
    <ion-icon name="chevron-down-outline"></ion-icon>
  </button>
  
  <div class="dropdown-menu" [class.show]="isOpen">
    <div class="dropdown-item" (click)="selectCategory('all')">
      all
    </div>
    <div 
      *ngFor="let category of categories; let i = index" 
      class="dropdown-item" 
      (click)="selectCategory(category)">
      {{ category }}
    </div>
  </div>
</div>